body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}input{
    height: 5vh;
    border: none;
    margin-bottom: 1px;
}p{
    margin-bottom: 1px;
}.Dados{
    display: flex;
    flex-direction: column;
    width: 100vh;
    align-items: center;
}.NomeData{
    height: 20vh;
}.Sintomas{
    flex-direction: column;
}.Sintomas input{
    height: 20vh;
}#botao{
    background-color: rgb(255, 50, 50);
    color: aliceblue;
    border-radius: 5px;
    width: 50vh;
    margin-top: 2vh;
    margin-bottom: 5vh;
}