body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}.container {
    min-height: 100vh;
    background: linear-gradient(to bottom, #3b82f6, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}.form-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    width: 100%;
    max-width: 28rem;
}h1 {
    color: #2563eb;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}.subtitle {
    color: #4b5563;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    text-align: center;
}.form-group {
    margin-bottom: 1.5rem;
}label {
    display: block;
    color: #374151;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    font-size: 1rem;
}textarea {
    min-height: 100px;
    resize: vertical;
}button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}button:hover {
    background-color: #1d4ed8;
}.icon{
    height: 20px;
    width: 20px;
   align-content: center;
}.pdf {
    background-color: rgb(129, 129, 129);
    /* display: none; */
}.pdf:hover {
    background-color: rgb(109, 109, 109);
    cursor: no-drop;
    /* cursor: pointer; */
}.box-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
}.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/* Botão de loader: */
.loader {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }